{% extends "base.html" %}


{% block site-title %}
İletişim
{% endblock site-title %}


{% block site-icerik %}

<div class="container-fluid">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">İletişim</span></h2>
  <div class="row px-xl-5">
      <div class="col-lg-7 mb-5">
          <div class="contact-form bg-light p-30">
              <div id="success"></div>
              <form name="sentMessage" id="contactForm" novalidate="novalidate" action="{% url 'iletisim' %}" method="post">
                {% csrf_token %}
                  <div class="control-group">
                      <input type="text" class="form-control" id="name" placeholder="Adınızı Yazınız"
                          required="required" data-validation-required-message="İsminizi Yazınız" name="name" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="email" class="form-control" id="email" placeholder="E-Mail Adresinizi Yazınız"
                          required="required" data-validation-required-message="Please enter your email" name="email"/>
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <input type="text" class="form-control" id="subject" placeholder="Konuyu Yazınız"
                          required="required" data-validation-required-message="Please enter a subject" name="subject" />
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                      <textarea class="form-control" rows="8" id="message" placeholder="Mesajınız Yazınız"
                          required="required"
                          data-validation-required-message="Please enter your message" name="message"></textarea>
                      <p class="help-block text-danger"></p>
                  </div>
                  <div>
                      <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Mesajınızı Yollayınız</button>
                  </div>
              </form>
          </div>
      </div>
      <div class="col-lg-5 mb-5">
          <div class="bg-light p-30 mb-3">
              <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
              <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
              <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
          </div>
      </div>
  </div>
</div>

{% endblock site-icerik %}