{% extends "base.html" %}

{% block site-title %}
Anasayfa
{% endblock site-title %}


{% block site-icerik %}
<!-- Swipper Slider -->
<div class="container">
    

    <div class="row justify-content-center">
        <div class="col-md-10 mt-5">
            {% include "./Components/_owl.html" %}
        </div>
    </div>
</div>
<!-- Swipper Slider End -->
<!-- Hakkımızda Section -->
<section id="Hakkımızda">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="text-center mx-0 my-0 m-0">Yeni Çalışmalar</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <!-- Yeni Çalışmalar Col ve Row Start -->
        {% include "./Components/_arts.html" %}
        <!-- Yeni Çalışmalar Col ve Row End -->
    </div>
</section>
<!-- Hakkımızda Section End -->
{% endblock site-icerik %}