{% extends "base.html" %}

{% block site-title %}
Anasayfa
{% endblock site-title %}


{% block site-icerik %}

<div class="container-fluid">
    {% include "./Components/_carousel.html" %}
</div>

<!-- Feature -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Kaliteli Ürün</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Bedava Kargo</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Max 5 Gün</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Canlı Destek</h5>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Swipper Slider -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-5">
            {% include "./Components/_owl.html" %}
        </div>
    </div>
</div>
<!-- Swipper Slider End -->
<!-- Hakkımızda Section -->
<section id="Hakkımızda">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                <p class="text-center mx-0 my-0 m-0">Ürünler</p>
            </div>
            <div class="col-md-5">
                <hr>
            </div>
        </div>
        <!-- Yeni Çalışmalar Col ve Row Start -->
        {% include "./Components/_arts.html" %}
        <!-- Yeni Çalışmalar Col ve Row End -->
    </div>
</section>
<!-- Hakkımızda Section End -->
{% endblock site-icerik %}