{% extends "base.html" %}


{% block site-title %}
{{urunDetayi.sanatEseriBaslik}}
{% endblock site-title %}

{% block site-icerik %}

<div class="row mt-5 justify-content-around m-0">
    <div class="col-md-5">
        <div class="card" style="max-width: 36rem;">
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img class="img-fluid" src={{urunDetayi.image.url}} alt="Card image cap" />
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card border-0">
            <div class="card-body d-flex flex-row justify-content-center">
                <div>
                    <h5 class="card-title font-weight-bold mb-2">{{urunDetayi.sanatEseriBaslik}}</h5>
                </div>
                <div>
                    {% if request.user.is_superuser  %}
                        <a href="{% url 'deleteurun' urunDetayi.id  %}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body text-center">
                <p class="card-text">
                    {{urunDetayi.sanatEseriAciklamasi}}
                </p>
                <div class="d-flex justify-content-center align-items-center text-center">
                    <button class="btn btn-warning p-md-1 my-1 text-decoration-none mb-3 mt-2" role="button">
                        {{urunDetayi.fiyat}}₺
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success mx-2">WhatsApp</button>
                    <button class="btn btn-danger">Instagram</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center mt-5 m-0">
    <div class="col-md-5">
        <hr>
    </div>
    <div class="col-md-2">
        <p class="text-center">Yorumlar</p>
    </div>
    <div class="col-md-5">
        <hr>
    </div>
</div>
<div class="row justify-content-center mt-5 m-0">
    <div class="col-md-6">
        <div class="be-comment-block">
            {% for yorum in yorumlar %}
            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="#">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a class="link-warning" href="{% url 'profile' yorum.yorumSahibi.id %}">{{yorum.yorumSahibi}}</a>
                    </span>
                    <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                        {{yorum.yorumAtCrated}}
                    </span>
                    <h5>
                        {{yorum.yorumBaslik}}
                    </h5>
                    <p class="be-comment-text">
                        {{yorum.yorumIcerik}}
                    </p>
                    {% if request.user.is_authenticated and yorum.yorumSahibi == request.user or request.user.is_superuser %}
                    <div class="text-center m-0">
                        <a class="text-decoration-none m-0" href="{% url 'yorumsil' yorum.urun.id yorum.id %}">
                            <button class="btn btn-warning text-white m-0">
                                Yorum Sil
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>









{% if request.user.is_authenticated %}
<div class="row justify-content-center mt-5 m-0">
    <div class="col-md-5">
        <hr>
    </div>
    <div class="col-md-2">
        <p class="text-center">Yorum Yap</p>
    </div>
    <div class="col-md-5">
        <hr>
    </div>
</div>
{% else %}
<div class="row justify-content-center mt-5 m-0">
    <div class="col-md-5">
        <hr>
    </div>
    <div class="col-md-2">
        <p class="text-center">Yorum Yapmak İçin Lütfen Giriş Yapınız!</p>
    </div>
    <div class="col-md-5">
        <hr>
    </div>
</div>
{% endif %}


{% if request.user.is_authenticated %}
<div class="row justify-content-center mt-5 m-0">
    <div class="col-md-6">
        <form action="{% url 'urundetay' urunDetayi.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Yorum Başlık</label>
                <input type="text" class="form-control" placeholder="Ürününüz Harika!" name="yorumBaslik">
            </div>
            <div class="mb-3">
                <label class="form-label">Yorumunuz</label>
                <textarea class="form-control" rows="3" name="yorumIcerik"></textarea>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success" type="submit">Yorumu Gönder!</button>
            </div>
        </form>
    </div>
</div>
{% endif %}


{% endblock site-icerik %}