* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    height: 300px;
}


.fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }