* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    height: 300px;
}

.page-section-rounded {
    width: 100%;
    height: 30px;
    background-color: #fd7e14;
    border-radius: 15px 20px;
}