<div class="row justify-center mt-5">
    {% if searchUrunler%}
    {% for urunke in searchUrunler %}
    <div class="col-md-4">
        <div class="card mt-5 ">
            <img src={{urunke.image}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{urunke.sanatEseriBaslik}}</h5>
                <p style="overflow: hidden;" class="card-text text-center">
                    {{urunke.sanatEseriAciklamasi}}
                </p>
            </div>
            <div class="card-body text-center">
                <a href="{% url 'urundetay' urunke.id %}"><button class="btn btn-warning">Detay'a git</button></a>
            </div>
            <div class="card-footer text-center">
                <small class="text-body-secondary">{{urunke.createdAt}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if searchUrunler is None %}

    {% for urun in urunler %}
    <div class="col-md-4">
        <div class="card mt-5">
            <img src={{urun.image.url}} class="card-img-top object-fit-cover" height="300px"  alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{urun.sanatEseriBaslik}}</h5>
                <p style="overflow: hidden;" class="card-text text-center">{{urun.sanatEseriAciklamasi}}</p>
            </div>
            <div class="card-body text-center">
                <button class="btn btn-warning p-md-1 my-1 text-decoration-none mb-3 mt-2" role="button">
                    {{urun.fiyat}}₺
                </button>
            </div>
            <div class="card-body text-center">
                <a class="link-underline link-underline-opacity-0 link-body-emphasis" href="{% url 'urundetay' urun.id %}"><button class="btn btn-warning">Detay'a git</button></a>
            </div>
            <div class="card-footer text-center">
                <small class="text-body-secondary">{{urun.createdAt}}</small>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>