<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">SiteLogo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto me-0 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><button class="btn btn-warning">Anasayfa</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hakkimda' %}"><button class="btn btn-warning">Hakkımda</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'urun' %}"><button class="btn btn-warning">Ürünler</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'iletisim' %}"><button class="btn btn-warning">İletişim</button></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Giriş Yap</a></li>
                  <li><a class="dropdown-item" href="#">Kayıt Ol</a></li>
                  <li><a class="dropdown-item" href="#">Boş Kalsın Şimdilik</a></li>
                </ul>
              </li>
        </ul>
        <form class="d-flex" role="search" method="post">
          <input class="form-control me-2" type="search" placeholder="Arama" aria-label="Search" name="search">
          <button class="btn btn-warning" type="submit">Arama</button>
          {% csrf_token %}
        </form>
        <div class="ms-lg-2">
            <button id="darklightbtn" class="btn"><i class="fa-solid fa-moon"></i></button>
        </div>
      </div>
    </div>
  </nav>