
  

<div class="owl-carousel">
    {% for urun in urunler %}
        <div class="card">
            <div class="card shadow-sm">
                <div class="row">
                    <div class="col-md-6">
                        <img src={{urun.image.url}} class="card-img-top object-fit-cover" height="350px"
                            alt="Ürün Fotoğrafı Bulunamadı">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mt-3">{{urun.urunBaslik}}</h3>
                        <div class="overflow-hidden" style="max-height: 100px;">
                            <p class="text-center mt-3">{{urun.urunAciklama}}</p>
                        </div>
                            <div class="text-center my-4"> <a href="{% url 'urundetay' urun.id %}"
                                    class="btn btn-warning">Detaya Git</a> </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Daha fazla öğe ekleyebilirsiniz -->
    {% endfor %}
</div>

<script>
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop: true, // Sonsuz döngü etkin
        margin: 50,  // Öğeler arası boşluk
        autoplayHoverPause: true,// Fare ile üzerine gelindiğinde otomatik oynatmayı durdur
        autoplay: true,
        smartSpeed:1250, // Otomatik oynatmayı etkinleştir
        autoplayTimeout: 2000, // Otomatik oynatma süresi (1 saniye)
        responsive: {
            0: {
                items: 1 // Ekran genişliği 0px - 767px arasında 1 öğe göster
            },
            768: {
                items: 3 // Ekran genişliği 768px ve üzerinde 3 öğe göster
            }
        }
    });
});
</script>



